---
import GenericSolutionSection from "./SolutionsSection.jsx";

const aiSolutions = {
  component: "Intelligent Solutions",
  heading: "Artificial Intelligence/Machine Learning",
  description: {
    line1:
      "With the rapid evolution of Artificial Intelligence (AI) and Machine Learning (ML), integrating intelligent solutions is no longer optional, it’s a strategic necessity. Our best AI/ML solutions empower ",
    line2: "your businesses to innovate, automate, and scale with precision with secured agility, operational efficiency, and cost optimization. Stay ahead with data-driven intelligence.",
  },
  features: [
    "Artificial Intelligence",
    "Machine Learning",
    "Automation",
    "AI Integration",
    "Smart Technology",
    "Intelligent Automation",
    "AI Innovation",
    "AI-driven Insights",
  ],
  caseStudies: [
    { src: "/assets/CaseStudy1.png", alt: "Case Study 1" },
    { src: "/assets/CaseStudy2.png", alt: "Case Study 2" },
    { src: "/assets/CaseStudy3.png", alt: "Case Study 3" },
  ],
};
const techSolutions = {
  component: "Solutions",
  heading: "Web and Mobile Apps",
  description: 
      "Stop settling for mediocre apps! Your web and mobile app development needs to do more than function—it must engage users, boost conversions, and scale. We don’t just write code we engineer high-performance, scalable web and mobile apps with addictive UX that go beyond your expectations.",
  
  features: [
    "Landing Page Development",
    "E-commerce Web Development",
    "Frontend Development",
    "Back-End Development",
    "Full-Stack Development",
    "CMS Development",
    "API Development & Integration",
  ],
  caseStudies: [
    { src: "/assets/CaseStudyTech1.png", alt: "Case Study 1" },
    { src: "/assets/CaseStudyTech2.png", alt: "Case Study 2" },
    { src: "/assets/CaseStudyTech3.png", alt: "Case Study 3" },
  ],
};

const webSolutions = {
  features: [
    "Web Development",
    "Mobile Apps",
    "SaaS Development",
    "Software Development",
    "Tech Solutions",
    "Scalable Apps",
    "Cloud Computing",
    "App Development",
  ],
  description: 
  
      "Imagine a SaaS platform that doesn’t just meet needs—it anticipates them. We specialize in end-to-end SaaS development, transforming your vision into a scalable, revenue-generating reality.From initial product concept to development, from deployment to post-launch support, we deliver excellence to make your SaaS flooded by users.",
  
  heading: "SaaS Development",
  caseStudies: [
    { src: "/assets/CaseStudyWeb1.png", alt: "Case Study 1" },
    { src: "/assets/CaseStudyWeb2.png", alt: "Case Study 2" },
    { src: "/assets/CaseStudyWeb3.png", alt: "Case Study 3" },
  ],
};

const dataSolutions = {
  features: [
    "Big Data",
    "Data Science",
    "Business Intelligence",
    "Cloud Data",
    "Predictive Analytics",
    "Data Solutions",
    "Data Driven",
  ],
  description: 
    
      "In the AI era, your data stack must do more than store - It must predict, optimize, and decide. We engineer battle-tested analytics warehousing that delivers real-time intelligence, unified metrics, and 40% lower TCO. Stop wrestling with data and let us monetizing it with self-healing pipelines, ML-driven governance, and decision making insights.",
  
  heading: "Data Warehousing & Analytics",
};
const cloudServices = {
  features: [
    "Big Data",
    "Data Science",
    "Business Intelligence",
    "Cloud Data",
    "Predictive Analytics",
    "Data Solutions",
    "Data Driven",
  ],
  description: 
      "Every growing business eventually faces the critical need for secure, scalable, and professionally managed cloud solutions. Powered by AWS, Azure, and Google Cloud, we build resilient cloud environments that drive agility, performance, and long-term growth  from seamless cloud migration to optimized infrastructure, DevOps automation, and cloud-native application development. ",
  
  heading: "Cloud Services",
};
---

<div
  class="relative before:content-[''] before:w-[2px] before:absolute before:left-[60px] before:max-lg:left-[25px] before:h-full before:bg-[#DCDCDC]"
>
  <GenericSolutionSection techSolutions={aiSolutions} client:only />
  <GenericSolutionSection techSolutions={techSolutions} client:only />
  <GenericSolutionSection techSolutions={webSolutions} client:only />
  <GenericSolutionSection techSolutions={dataSolutions} client:only />
  <GenericSolutionSection techSolutions={cloudServices} client:only />
  <div
    class="container px-20 max-lg:!px-2 flex items-center justify-center py-[80px]"
  >
    <img
      src="/assets/zenapticbg-light.png"
      alt="Arrow"
      loading="lazy"
      class="object-center object-cover max-lg:hidden toggle-image"
    />
    <img
      src="/assets/zenapticbgsmall-light.png"
      alt="Arrow"
      loading="lazy"
      class="object-center object-cover hidden max-lg:block toggle-image"
    />
  </div>
  <span
    class="w-[24px] h-[24px] z-1 rounded bg-gradient-to-l from-orange-500 to-amber-300 shadow-[0px_0px_32px_8px_rgba(255,179,120,0.25)] top-[110px] left-[49px] max-lg:left-[15px] absolute lamp"
  ></span>
  <span
    class="w-[24px] h-[24px] z-1 rounded bg-gradient-to-l from-orange-500 to-amber-300 shadow-[0px_0px_32px_8px_rgba(255,179,120,0.25)] top-[1050px] left-[49px] max-lg:left-[15px] absolute lamp"
  ></span>
  <span
    class="w-[24px] h-[24px] z-1 rounded bg-gradient-to-l from-orange-500 to-amber-300 shadow-[0px_0px_32px_8px_rgba(255,179,120,0.25)] top-[2000px] left-[49px] max-lg:left-[15px] absolute lamp"
  ></span>
  <span
    class="w-[24px] h-[24px] z-1 rounded bg-gradient-to-l from-orange-500 to-amber-300 shadow-[0px_0px_32px_8px_rgba(255,179,120,0.25)] top-[2940px] left-[49px] max-lg:left-[15px] absolute lamp"
  ></span>
</div>
