---
import Tilt from "react-parallax-tilt";
const progressSteps = [
  {
    id: 1,
    title: "STEP 01",
    description: "Discovery & Planning",
    icon: "/assets/step1-light.svg",
  },
  {
    id: 2,
    title: "STEP 02",
    description: "Design & Prototyping",
    icon: "/assets/step2-light.svg",
  },
  {
    id: 3,
    title: "STEP 03",
    description: "Development",
    icon: "/assets/step3-light.svg",
  },
  {
    id: 4,
    title: "STEP 04",
    description: "Testing & Quality Assurance",
    icon: "/assets/step4-light.svg",
  },
  {
    id: 5,
    title: "STEP 05",
    description: "Deployment",
    icon: "/assets/step5-light.svg",
  },
  {
    id: 6,
    title: "STEP 06",
    description: "Maintenance",
    icon: "/assets/step6-light.svg",
  },
];
---

<div class="conatiner px-20 max-lg:px-[20px]">
  <h2
    class="w-full text-center heading-dark max-lg:text-[32px] from-[#999999] to-[#181818] bg-clip-text text-transparent font-urbanist text-[56px] font-bold leading-[135%] bg-gradient-to-l max-lg:pb-[30px]"
  >
    Development Approach
  </h2>
  <div class="w-full flex justify-center items-center gap-1">
    <div
      class="w-[100%] flex flex-wrap justify-center items-center max-lg:py-0 py-20"
    >
      <div
        class="w-full gap-10 flex flex-col pt-[40px] justify-center items-center"
      >
        <div
          class="w-full max-lg:w-[60%] max-md:w-[90%] flex justify-around flex-wrap max-lg:flex-col items-center gap-6"
        >
          {
            progressSteps.map((step) => (
              <div class=" w-[30%] max-lg:w-[100%]">
                <Tilt
                  scale={1.01}
                  tiltMaxAngleX={30}
                  tiltMaxAngleY={20}
                  glareEnable={true}
                  glareColor={"#808080d6"}
                  glarePosition="all"
                  glareBorderRadius="8px"
                  client:load
                >
                  <div class="inset-0 bg-transparent  min-h-[350px] border-[#DCDCDC] border-[1px]  rounded-[8px] !h-fit !flex  flex-col justify-center items-center  gap-12 p-6  ">
                    <div class="w-full ">
                      <span class="w-full block heading-dark  text-start text-[20px]  font-semibold leading-[135%] uppercase text-[var(--Color-Neutral-300,#525252)]">
                        {step.title}
                      </span>
                      <span class="w-full block text-start heading-dark text-[28px] max-lg:text-[24px] font-urbanist font-semibold leading-[150%] text-[#292929]">
                        {step.description}
                      </span>
                    </div>
                    <div class="w-full flex justify-end items-center">
                      <img
                        src={`${step.icon}`}
                        alt={step.title}
                        loading="lazy"
                        class="w-[40%] h-[40%] toggle-image"
                      />
                    </div>
                  </div>
                </Tilt>
              </div>
            ))
          }
        </div>
        <div class="w-full flex justify-center items-center cursor">
          <a
            href="/#tellusabout"
            class="bg-[#FF7D12] mt-[85px] max-lg:ml-[0px] max-lg:mt-[0px] text-[#F7F7F7] text-[18px] flex justify-center items-center whitespace-nowrap rounded-lg px-[24px] py-[16px] max-lg:py-2 max-lg:px-4"
          >
            <span>Start Your Project</span>
            <img
              src="/assets/arrowupright-light.svg"
              alt="Arrow"
              loading="lazy"
              class="object-cover object-center w-[24px] h-[24px] inline-block ml-2 toggle-image"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
